.ipynb_checkpoints/moire1-checkpoint.py
.ipynb_checkpoints/moire2-checkpoint.py
.ipynb_checkpoints/moire3-checkpoint.py
.ipynb_checkpoints/moirelib-checkpoint.py
.ipynb_checkpoints/targetedMoire-checkpoint.ipynb
__pycache__/moirelib.cpython-39.pyc
images/.ipynb_checkpoints/audrey512-checkpoint.png
images/.ipynb_checkpoints/einstein512-checkpoint.png
images/.ipynb_checkpoints/Lenna-checkpoint.png
images/.ipynb_checkpoints/mona512-checkpoint.png
results/.ipynb_checkpoints/moire2-checkpoint.png
